@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
  }

.button-focused {
  background-color: rgb(29, 29, 29);
}


.custom-background {
    background: #141414;
    background-image: radial-gradient(#262626 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }

.todo-background {
    background-image: url('../src/assets/bgMain.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.phone-background {
  background-image: url('../src/assets/bgSpace.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgFigma {
  background-image: url("./assets/FigmaLayout.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bgSky {
  background-image: url("./assets/sky.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgMap {
  background-image: url("./assets/bgLine.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}